@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
}

body {
  font-family: "Inter", "Arial";
}

h2 {
  font-size: 36px;
  margin: 2rem 0 1rem 0;
  text-transform: uppercase;
}

p {
  //margin-bottom: 0.5rem;
  line-height: 1.5em;
}
